<div class="currency-converter">
  <h2>Currency Converter</h2>


  <p class="welcome">Bienvenido, {{ userName }}</p>

<p [ngClass]="{'warning': tries === 0}">
  {{ tries > 0 ? 'Intentos restantes: ' + tries : 'Renueve su suscripción' }}
</p>

  <div class="converter-form">
    <label for="fromCurrency">From:</label>
    <select id="fromCurrency" [(ngModel)]="conversion.currency1">
      <option *ngFor="let currency of currencies" [value]="currency.code">
        {{ currency.code }}
      </option>
    </select>

    <label for="toCurrency">To:</label>
    <select id="toCurrency" [(ngModel)]="conversion.currency2">
      <option *ngFor="let currency of currencies" [value]="currency.code">
        {{ currency.code }}
      </option>
    </select>

    <label for="amount">Amount:</label>
    <input type="number" id="amount" [(ngModel)]="conversion.amount" placeholder="Enter amount" />
    

    <button (click)="convertir()">Convertir</button>

    <label>Converted Amount:</label>
    <output>{{ resultadoConversion ?? '0.00' }}</output>

    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </div>
</div>
