<main>
    <div id="izquierda">
        <h1>Conversor App</h1>
    </div>
    <div id="derecha">
        <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
            <h2>Registrarse</h2>
            <input type="text" id="usuario" placeholder="Usuario" name="usuario" ngModel required>
            <input type="password" id="password" placeholder="Contraseña" name="password" ngModel required>
            <button [disabled]="registerForm.invalid" class="boton-resaltado" type="submit">Registrarse</button>
            <a class="register-link" [routerLink]="['/login']">¿Ya tienes cuenta? Inicia sesión</a>
        </form>
    </div>
</main>
